<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mtons.mblog.dao.mapper.DemoMapper">

    <resultMap id="DetailMap" type="com.mtons.mblog.entity.DemoEntry" extends="ListMap">
    </resultMap>

    <resultMap id="ListMap" type="com.mtons.mblog.entity.DemoEntry">
    </resultMap>

    <select id="selectByOrderId" resultMap="DetailMap">
		select * from `demo`
        where 1=1
        <if test="orderId != null and orderId != ''">
            and order_id = #{orderId}
        </if>

	</select>

</mapper>
